.errors
  - if flash[:errors]
    .errors
      - flash[:errors].each do |error|
        %p.error.alert.alert-danger= error
  - if notice
    %p.notice.alert.alert-success= notice
  -if alert
    %p.alert.alert-warning= alert