.block
  .push
.footer
  .container
    .row
      .col-xs-4
        .vcenter-outer
          %ul.nav.navbar-nav.vcenter-inner
            %li
              = link_to 'About', about_us_path
            %li
              = link_to 'Faq', faq_path
            %li
              = link_to 'T&C', terms_path
      .col-xs-4
        With thanks to
        %a{href: "http://www.princes-trust.org.uk/"}
          The Princes Trust
        &
        %a{href: "http://www.makersacademy.com/"}
          Makers Academy
      .col-xs-4
        .vcenter-outer
          %a{href: "https://www.facebook.com/LendandTend"}
            %img{src: 'https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook.svg', class: 'social-footer'}
          %img{src: 'https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-linkedin.svg', class: 'social-footer'}
          %a{href: "https://twitter.com/lendandtend"}
            %img{src: 'https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-twitter.svg', class: 'social-footer'}
          %a{href: "https://www.pinterest.com/lendandtend/"}
            %img{src: 'https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-pinterest.svg', class: 'social-footer'}
          %a{href: "https://www.tumblr.com/settings/blog/lendandtend"}
            %img{src: 'https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-tumblr.svg', class: 'social-footer'}
          %a{href: "https://instagram.com/lendandtend/"}
            %img{src: 'https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-instagram.svg', class: 'social-footer'}




