.container-fluid
  .row
    .col-xs-3.img.img-sm
    .col-xs-3.img.img-sm
    .col-xs-3.img.img-sm
    .col-xs-3.img.img-sm
  .row
    .col-xs-3.img.img-sm
    .col-xs-6
      .image-spacer
        .center-items
          = image_tag 'lendlogo.png', class: 'logo', alt: 'Lend and Tend'
          - unless user_signed_in?
            %button.btn.btn-default.center-block
              Join in
    .col-xs-3.img.img-sm
  .row
    .col-xs-3.img.img-sm
    .col-xs-3.img.img-sm
    .col-xs-3.img.img-sm
    .col-xs-3.img.img-sm