%h1 Lend and Tend

- unless user_signed_in?
  = link_to 'Log in', new_user_session_path
  = link_to 'Join with Email', new_user_registration_path
  = link_to 'Join with Facebook', user_omniauth_authorize_path(:facebook)
