.container
  .col-sm-4
  .col-sm-4
    %h3 Please care for us, as we grow!
    %p
      Thank you for showing us your interest in Lending and Tending and creating your super profile. We’ll soon be able to connect you your patch matches and help you grow your own Lend and Tend Local Friendly Community. At the moment we’re offering this service completely free whilst we test out how it works for you as much as it does for us. So please bear with us in the meantime. We’d really appreciate your feedback if we’re a thorn between the roses of your experience, or if it’s helped you blossom in your neighbourhood. If there are a few hiccups please let us know here… garden.guardianship .at. gmail.com
  .col-sm-4