%ul
  - @patches.each do |patch|
    %li
      %span.location= patch.location
      %span.patch_type= patch.patch_type
      %span.duration= patch.duration
      %span.owner= link_to patch.user.name, user_path(patch.user)