@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// Header

.join_login_buttons {
  float: right;
}

// Join & Login Form

.fb_btn_container {
  margin: auto;
  text-align: center;
}

.fb_btn {
  background-color: #3B5998;
  color: white;
  width: 100%
}

.join_btn {
  width: 100%;
}

.join_inputs {
  margin-bottom: 1em;
}

.join_or {
  text-align: center;
  margin-bottom: 1em;
  font-style: italic;
}

.join_legals {
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
}

.login_forgot_prompt {
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
}

@import "patches";
