@import "bootstrap-sprockets";
@import "bootstrap";
@import 'static';
@import 'patches';
@import 'forms';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// Homepage images
//
// .img{
//   background-image: url('http://placehold.it/150x150');
//   background-size: cover;
//   background-position: 50% 50%;
//   background-repeat: no-repeat;
// }
//
// .img-sm{
//   height: 200px;
// }
//
// .image-spacer {
//   text-align: center;
//   margin:auto;
//   height: 200px;
// }
//
// .center-items {
//   padding: 30px;
// }
//
// .logo-homepage {
//   max-width:95%;
//   margin-bottom: 5%;
// }
//
// // Nav
//
// .links-right {
//   display:inline-block;
//   float: right;
// }
//
// .links-left {
//   display:inline-block;
//   text-align: left;
// }
//
// .header-links a {
//   margin-right:10px;
// }
//
// // Header
//
// .join_login_buttons {
//   float: right;
// }

// Join & Login Form

.fb_btn_container {
  margin: auto;
  text-align: center;
}

.fb_btn {
  background-color: #3B5998;
  color: white;
  width: 100%
}

.join_btn {
  width: 100%;
}

.join_inputs {
  margin-bottom: 1em;
}

.join_or {
  text-align: center;
  margin-bottom: 1em;
  font-style: italic;
}

.join_legals {
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
}

.login_forgot_prompt {
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
}
// Profile

.profile_photo {
  max-width: 100%;
  display: inline;
}

.user_profile_header {
  margin-top: 0px;
}

.profile_container {
  margin-top: 2em;
}

.profile_pic_container {
  text-align: center;
}

@import "patches";

.message_user_btn {
  margin: auto;
  text-align: center;
  margin-top: 2em;
}

.garden_pic {
  display: inline;
  max-width: 100%;
}

.garden_headers {
  display: inline;
}
