// Place all the styles related to the patches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-unstyled li {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid #CCCCCC;
  text-align: center;
}

li:first-child {
  padding-top: 1.5em;
}

.list-title {
  background: black;
  color: #EEEEEE;
  text-align: center;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}

.disabled {
  visibility: hidden;
}

.pagination a {
  padding: 0.75em;
  color: green;
  font-weight: bold;
  border: 1px solid green;
}

.filter-row {
  padding-bottom: 1.5em;
  margin-bottom: 1em;
}
